fastapi
uvicorn[standard]
mediapipe==0.10.14
opencv-python-headless
numpy
pydantic
pydantic-settings
python-multipart
python-dotenv
openai-whisper
pydub
groq
requests
websockets
sqlalchemy
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
email-validator
reportlab
